---
---

@import "{{ site.theme }}";

.page-header {
  color: #ffff;
  background-color: #402010;
  background-image: url("/bg.jpg");
}

.main-content h1 {
  color: #884422;
}

.main-content h2 {
  color: #884422;
}

a {
  color: #ff8844;
}
